<% if can? :create, Entry %>
  <div class="new">
    <%= link_to "FAZER UM LANÇAMENTO", new_entry_path %>
  </div>
<% end %>

<div class="paginator">
  <%= page_entries_info @vehicles %>
  <%= will_paginate @vehicles %>
</div>

<table>
  <thead>
    <tr>
      <th style="width: 30px;"></th>
      <th style="width: 400px;">LANÇAMENTO</th>
      <th style="width: 120px;">VALOR</th>
      <th>OBSERVAÇÃO</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to img_attachments("Anexos (#{entry.attachments.size})"), entry_attachments_path(entry) %></td>
        <td>
          <% if can? :update, entry %>
            <%= link_to entry.description, edit_entry_path(entry) %>
          <% else %>
            <%= entry.description %>
          <% end %>
          <div class='font-italic'><%= entry_by(entry) %></div>
        </td>
        <td><%= entry_value(entry) %></td>
        <td><%= entry.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="no-border no-hover" style="width: auto; margin-top: 50px;">
  <tbody>
    <tr class="font-18">
      <td style="width: 250px;">TOTAL CRÉDITO</td>
      <td class="font-green font-bold"><%= entry_credit %></td>
    </tr>
    <tr class="font-18">
      <td>TOTAL DÉBITO</td>
      <td class="font-red font-bold"><%= entry_debit %></td>
    </tr>
    <tr class="font-18">
      <td>TOTAL GERAL</td>
      <% if entry_total_positive? %>
        <td class="font-green font-bold">+ <%= entry_total %></td>
      <% else %>
        <td class="font-red font-bold">- <%= entry_total %></td>
      <% end %>
    </tr>
  </tbody>
</table>